<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Officer Database</title>
  <link rel="stylesheet" href="/officers.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">RST Police Database</div>
        <div class="nav-links">
          <a href="/home">Home</a>
          <div class="roster-dropdown">
            <a class="username">Roster</a>
            <div class="dropdown-content">
              <a href="/officers">Officers</a>
              <a href="/swat" class="logout-btn">Swat</a>
              <a href="/internal-affairs" class="logout-btn">Internal Affairs</a>
            </div>
          </div>      
            <a href="/admin">Admin</a>
    
          <% if (user) { %>
            <div class="user-dropdown">
              <img src="<%= user.avatarURL || '/images/default-avatar.png' %>" alt="User Avatar" class="user-avatar">
              <span class="username"><%= user.Username %></span>
              <div class="dropdown-content">
                <a href="/profile">View Profile</a>
                <a href="/logout" class="logout-btn">Logout</a>
              </div>
            </div>
          <% } else { %>
            <a href="/auth/discord" class="discord-button">Login with Discord</a>
          <% } %>
        </div>
      </nav>

  <section class="officer-list">
    <h2>All Swat</h2>
    <table class="officer-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Discord ID</th>
          <th>Rank</th>
          <th>Status</th>
          <th>Steam ID</th>
          <th>Strikes</th>
          <th>Division</th>
        </tr>
      </thead>
      <tbody>
        <% swatMembers.forEach(swatMembers => { %>
          <tr>
            <td><%= swatMembers.Username %></td>
            <td><%= swatMembers.discordId %></td>
            <td><%= swatMembers.rank %></td>
            <td><%= swatMembers.status %></td>
            <td><%= swatMembers.steamId || 'Not Linked' %></td>
            <td><%= swatMembers.strikes %></td>
            <td><%= swatMembers.division %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
</body>
</html>
